@import "bootstrap3.css";

.root {
    -fx-background-image: url("java/image/loginBg.jpg");
    -fx-background-size: cover;
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
}